body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input input:focus,
textarea:focus,
select:focus {
  outline: none !important;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
  border: 1px solid #ecf1f4;
  box-sizing: border-box;
  border-radius: 8px;
}

tr {
  vertical-align: middle;
  height: 48px;
  border-radius: 8px;
}

td {
  height: 48px;
}
