// gradient
$gradient-1: linear-gradient(73.6deg, #85FFC4 2.11%, #5CC6FF 42.39%, #BC85FF 85.72%);
// neutral colors
$gray-8: #a6a0bb;
$gray-22: #1c1924;
$gray-23: #131118;
$gray-24: #09080c;
$white: #fff;
$black: #000;
// blue
$blue-7: #088ae0;
// pink
$pink-1: #A869ED;
// orange
$orange-6: #D9611C;

